@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');
body {
    font-family: 'Roboto', sans-serif;
}

header {
    /* position: fixed; */
    background-color: #FFFFFF;
    width: 100%;
    height: 54px;
    border-bottom: 1px solid #DBDBDB;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

header a {
    /* Vini não me mata pfv, tive que meter um margin-top aqui 🙏 */
    margin-top: 10px;
}

header .conteudo-menu {
    width: 935px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.barra-logo {
    display: flex;
    justify-content: space-between;
    width: 150px;
    align-items: center;
}

.logo-mobile {
    display: none;
}

.caixa-de-pesquisa {
    width: 215px;
    height: 28px;
    background-color: #FAFAFA;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #979797;
    font-weight: 400;
}

.divisoria-logo {
    width: 1px;
    height: 22px;
    background-color: #DBDBDB;
}

ion-icon {
    font-size: 22px;
}

hr {
    width: 1px;
    height: 22px;
    color: #DBDBDB;
    background-color: #DBDBDB;
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 148px;
}

.menu img {
    height: 22px;
}

.footer {
    display: none;
    width: 100%;
    position: fixed;
    height: 54px;
    bottom: 0;
    background-color: #FFFFFF;
    z-index: 1;
    border: 1px solid #DBDBDB;
}

.conteudo {
    background-color: #FAFAFA;
    width: 100%;
    height: 2000px;
    display: flex;
    overflow: hidden;
    justify-content: center;
}

.principal {
    width: 614px;
    height: 2000px;
    background-color: #FAFAFA;
    margin-right: 30px;
}

.stories {
    height: 118px;
    margin-top: 34px;
    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 3px;
    margin-bottom: 24px;
    display: flex;
    overflow: hidden;
}


/* ESSA PARTE TIVE QUE PROCURAR NA INTERNET COMO INVERTER COR COM CSS E COMO EU COLOCAVA O NOME DO ITEM PARA EU USAR CSS */

ion-icon[name="chevron-forward-circle"] {
    font-size: 40px;
    filter: invert(100%);
}

.stories-a-mais {
    height: 118px;
    display: flex;
    width: 650px;
    align-items: center;
    font-weight: 400;
    margin-left: 14px;
    position: relative;
}

.seta {
    position: absolute;
    z-index: 1;
    right: 40px;
}

.storie {
    display: flex;
    height: 100%;
    width: 66px;
    margin: auto;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-right: 14px;
    font-size: 12px;
    font-weight: 400;
    background: url(media/stories_background.jpg) no-repeat;
    background-size: 66px;
    background-position: center;
    background-position-y: 15px;
}

.stories .storie img {
    margin-bottom: 10px;
    width: 56px;
}

.post {
    width: 614px;
    height: 749px;
    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 3px;
    margin-bottom: 60px;
}

.top-post {
    height: 61px;
    display: flex;
    align-items: center;
}

.post .top-post img {
    width: 32px;
    height: 32px;
    margin-left: 17px;
}

.top-post a {
    font-weight: 500;
    text-decoration: none;
    color: #262626;
    margin-left: 15px;
}

.dots {
    font-size: 16px;
}

.post img {
    width: 612px;
    height: 612px;
}

.icones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    margin-top: 10px;
}

.icones-esquerda {
    display: flex;
    justify-content: space-between;
    width: 94px;
    margin-left: 15px;
}

.icones-direita {
    margin-right: 18px;
}

.curtidas {
    margin-left: 17px;
    height: 20px;
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.curtidas img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.posts .post .curtidas strong {
    font-weight: 500;
    font-size: 14px;
    margin: 0 5px;
}

.posts .post .curtidas small {
    font-weight: 300;
    font-size: 14px;
}

.sidebar {
    width: 293px;
    margin-top: 57px;
    background-color: #FAFAFA;
}

.sidebar small {
    font-weight: 500;
    font-size: 12px;
    color: #8E8E8E;
}

.sidebar .seguir {
    font-weight: 500;
    font-size: 12px;
    color: #262626;
    display: flex;
    justify-content: space-between;
}

.sidebar .sidebar .card small {
    color: #8E8E8E;
    font-weight: 500;
    font-size: 12px;
}

.sidebar .card strong {
    color: #262626;
    font-weight: 500;
    font-size: 12px;
    margin-left: 130px;
}

.sidebar .card {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.sidebar .card small {
    margin-left: 17px;
    color: #8E8E8E;
    font-weight: 400;
    font-size: 14px;
}

.sidebar .card a {
    margin-left: 17px;
    font-weight: 14px;
    text-decoration: none;
    color: #262626;
    font-weight: 500;
}

.sidebar .card div small {
    font-size: 14px;
    font-weight: 300;
}

.sidebar .card-menor {
    margin-top: 17px;
    display: flex;
    justify-content: space-between;
}

.sidebar .card-menor small {
    font-weight: 400;
}

.sidebar .card-menor a {
    font-size: 14px;
    text-decoration: none;
    font-weight: 500;
    color: #262626;
    display: block;
}

.sidebar .card-menor img {
    margin-right: 11px;
}

.sidebar .card-menor strong {
    color: #139EF2;
    font-size: 12px;
    font-weight: 500;
    text-align: right;
    flex-grow: 1;
}

.sidebar h2 {
    margin-top: 18px;
    font-weight: 400;
    color: #C7C7C7;
    font-size: 11px;
}


/* ---------------------------------RESOLUÇÃO < 935 ----------------------------------- */

@media (max-width:935px) {
    .conteudo {
        background-color: #FAFAFA;
        margin: 0 auto;
        width: 100%;
    }
    header {
        width: 100%;
        margin: 0 auto;
    }
    .conteudo-menu {
        margin: 0 30px;
    }
    .principal {
        margin: 0 auto;
    }
    .sidebar {
        display: none;
    }
    ion-icon[name="chevron-forward-circle"] {
        left: 655px;
    }
}


/* -------------------------------AQUI É O MOBILE------------------------------- */

@media (max-width:614px) {
    .conteudo {
        width: 100%;
    }
    .principal {
        width: 100%;
        margin-bottom: 54px;
    }
    .posts {
        width: 100%;
    }
    .post {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }
    .stories {
        margin: 0;
        border: none;
    }
    .barra-logo a {
        display: none;
    }
    .divisoria-logo {
        display: none;
    }
    .caixa-de-pesquisa {
        display: none;
    }
    .logo-mobile {
        display: flex;
        align-items: center;
    }
    .menu ion-icon[name="chevron-forward-circle"] {
        display: none;
    }
    .menu ion-icon[name="compass-outline"] {
        display: none;
    }
    .menu ion-icon[name="heart-outline"] {
        display: none;
    }
    .menu ion-icon[name="person-outline"] {
        display: none;
    }
    .menu {
        display: flex;
        justify-content: flex-end;
    }
    .footer {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-around;
    }
}